* { font-family: marker felt, bradley hand, times new roman; }
body { background: #FFD1DC; }
.menu {width: 100vw; 
       height: 7vh; 
       background: linear-gradient(to right, #FFD1DC 10%, #FFB7CE 50%, #FFD1DC 90%); 
       position:fixed; top: 0px; left: 0px; 
       border-bottom: 1px solid pink; 
       z-index: 1; 
       overflow: hidden; 
       color: blue; }
.heading {width: 100%; 
          height: 100%; 
          display: flex; }
.logo {width: auto; 
       height: 100%; 
       border: 1px solid #ff379b; 
       margin-right: 20px; 
       float: left; }
.nav {display:flex; 
      list-style-type: none; 
      font-size: 20px; }
.nav a {margin-left: 60px; 
        margin-right: 60px; 
        color: black;}
.welcome {text-align: center; 
          font-size: 2rem; 
          color: #77C3EC; 
          margin-top: 50px; }
textPath {font-size: 2.3rem; 
          color:#77C3EC;
          fill:#77C3EC; }
.welcome-img {display: block; 
              margin: 0 auto; 
              width: 200px; 
              height: auto; 
              margin-bottom: -75px; }
.stuffz {font-size: 2rem;
         text-align: center;
         color: #77C3EC; }
h3 {font-family: bradley hand; 
    font-size: 1.5rem;
    color: #B19CD9; }
p {font-size: 1.3rem; 
   text-align: center; }
.info .orders .more .about .gallery {width: 100vw; 
                                     padding-top:15px; }
.pics {width: 80%; 
       margin: 100px auto 50px; 
       display: grid; 
       grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
       grid-gap: 30px;}
.pics img {width:100%; 
           cursor: pointer; }
.pics img:hover {transform:scale(0.9) rotate(-8deg); 
                 border-radius:20px; 
                 box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2); } 
.full-img {width: 100%; 
           height: 100vh; 
           background: rgba(0,0,0,0.9); 
           position: fixed; 
           top: 0; 
           left: 0; 
           display: none; 
           align-items: center; 
           justify-content: center; 
           z-index: 100; }
.full-img img {width: 90%; 
               max-width: 500px; }
.full-img span[class="X"] {position: absolute; 
                           top: 5%; 
                           right: 5%; 
                           font-size: 35px; 
                           color: #fff; 
                           cursor: pointer; }
.full-img span[class="left"] {position: absolute; 
                              top: 45%; 
                              left: 5%; 
                              font-size: 55px; 
                              color: #fff; 
                              cursor: pointer; }
.full-img span[class="right"] {position: absolute; 
                               top: 45%; 
                               right: 5%; 
                               font-size: 55px; 
                               color: #fff; 
                               cursor: pointer; }
#fullImg {opacity: 1; 
          transition: opacity 0.2s ease-in-out; }
#fullImg.fade-out {opacity: 0; }
