* {font-family: marker felt, bradley hand, book antiqua, times new roman; }
body {background: #e8e9eb; }
h2 {font-size: 2rem; }
p {width:100%; }
.menu {width: 100%;
       height: 7vh;
       background: linear-gradient(90deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
       position: fixed;
       top: 0;
       left: 0;
       border-bottom: 1px solid pink;
       z-index: 10; }
.heading {display: block;      
          justify-content: space-between; 
          height: 100%;
          padding: 0 30px; }          
.logo {height: 7vh;
       width: auto;
       border: 0.5px solid #ff379b;
       position: absolute;
       top: 0px;
       left: 0px; }
.nav {display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      margin-left: 50px;
      padding: 0;
      font-size: 1.2rem; }
.nav a {text-decoration: none;
        color: black;
        font-weight: 500; }
.nav a:hover {color: #ff379b; }
.welcome {text-align: center; 
          font-size: 2rem; 
          margin-top: 50px; }
textPath {font-size: 2.3rem; 
          color: white;
          fill: #77C3EC; 
          margin-bottom: -25px; }
.welcome-img {display: block; 
              margin: 0 auto; 
              width: 200px; 
              height: auto; 
              margin-bottom: -75px; }
.divisions {width:90%;
            height: auto;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 3rem;
            color: rgb(137, 190, 255); 
            margin-top: -30px;
            margin-left: 50px; }
h3 {font-family: bradley hand; 
    font-size: 1.5rem;
    color: #B19CD9; }
.owl {text-align: center;
      font-size: 2rem; }
.browse {font-size: 1.3rem; 
         text-align: center; 
         color: rgb(137, 190, 255); }
.inputs {display: flex;
         flex-direction: row;
         padding: 10px;
         justify-content:space-evenly; 
         font-size: 1.4rem; }
.radios {padding: 15px;
         float: left; }
button {--c: red;
        width: 200px;
        aspect-ratio: 1;
        background:   radial-gradient(circle at 60% 65%,var(--c) 64%,#0000 65%) top left/50% 50%,
                      radial-gradient(circle at 40% 65%,var(--c) 64%,#0000 65%) top right/50% 50%,
                      conic-gradient(from -45deg at 50% 79.5%,var(--c) 90deg,#0000 0) bottom/100% 50%;
        background-repeat: no-repeat; 
        margin-top: -50px;
        font-size: 2rem; }
button:hover {color: #ff379b; }
.info, .orders, .about, .gallery {width: 100vw; 
                                  margin-top: 30px; }
.custom, .query, .christine {font-size: 1.2rem;
                             font-weight: 200; }
.icons {display: block;
        font-size: 4rem;
        text-align: center; }
.icons:hover {color: #ff379b; }
video {display: block;
       padding: 10px; }
.pics {width: 80%; 
       margin: 50px auto 50px; 
       display: grid; 
       grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
       grid-gap: 30px;}
.pics img {width:100%; 
           cursor: pointer; }
.pics img:hover {transform:scale(0.9) rotate(-8deg); 
                 border-radius:20px; 
                 box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2); } 
.full-img {width: 100%; 
           height: 100vh; 
           background: rgba(0,0,0,0.9); 
           position: fixed; 
           top: 0; 
           left: 0; 
           display: none; 
           align-items: center; 
           justify-content: center; 
           z-index: 100; }
.full-img img {width: 90%; 
               max-width: 500px; }
.full-img span[class="X"] {position: absolute; 
                           top: 5%; 
                           right: 5%; 
                           font-size: 35px; 
                           color: #fff; 
                           cursor: pointer; }
.full-img span[class="left"] {position: absolute; 
                              top: 45%; 
                              left: 5%; 
                              font-size: 55px; 
                              color: #fff; 
                              cursor: pointer; }
.full-img span[class="right"] {position: absolute; 
                               top: 45%; 
                               right: 5%; 
                               font-size: 55px; 
                               color: #fff; 
                               cursor: pointer; }
#fullImg {opacity: 1; 
          transition: opacity 0.2s ease-in-out; }
#fullImg.fade-out {opacity: 0; }
footer {text-align: center; 
        font-size: 1.5rem; 
        Padding: 35px; }

@media (max-width: 700px) {
       .heading {flex-direction: column;
                 justify-content: center;
                 gap: 10px;
                 height: auto;
                 padding: 10px; }
       .nav {flex-wrap: wrap;
             justify-content: center; }
       .menu {height: auto; } }
