* {font-family: marker felt, bradley hand, times new roman; }
header {width: 100vw; height: 9vh; display: inline-block; background-color: linear-gradient(90 deg, white, azure); color: pink; position:fixed; border-bottom: 2px, solid, blue; z-index: 1; margin-bottom:10px; }
