* {font-family: marker felt, bradley hand, book antiqua, times new roman; }
body {background: #e8e9eb;
      margin: 0; }
main {margin: 5px; }
h2 {font-size: 4vw; }
.menu {width: 100vw;
       height: 7vh;
       background: linear-gradient(90deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
       position: fixed;
       top: 0;
       left: 0;
       border-bottom: 1px solid pink;
       z-index: 10; }
.heading {display: block;      
          justify-content: space-between; 
          height: 100%;
          padding: 0 30px; }          
.logo {height: 7vh;
       width: auto;
       border: 0.5px solid #ff379b;
       position: absolute;
       top: 0px;
       left: 0px; }
.nav {display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-between;
      margin-left: 5vw;
      font-size: 2.5vw; }
.nav a {text-decoration: none;
        color: black;
        font-weight: 500; }
.nav a:hover {color: #ff379b; }
.welcome {text-align: center;
          margin-top: 4vh; }
textPath {font-size: 6.3vh; 
          fill: #77C3EC; }
.welcome-img {display: block; 
              margin: 0 auto; 
              width: 200px; 
              height: auto; 
              margin-bottom: -75px; }
.divisions {width:90%;
            height: auto;
            display: flex;
            justify-content: space-evenly;
            font-size: 4vw;
            color: rgb(137, 190, 255); 
            margin-top: -10vh;
            margin-left: 4vw;}
.owl {text-align: center;
      font-size: 4vw; }
.owl2 {font-size: 2.5vw; 
        width: 100%; }
.browse {font-size: 3vw; 
         text-align: center; 
         color: rgb(137, 190, 255); }
.inputs {width:100%;
         height:auto;
         display: flex;
         flex-direction: row;
         padding: 10px;
         justify-content:space-evenly; 
         font-size: 3vw; }
button {--c: red;
        width: 30vw;
        aspect-ratio: 1; 
  background: radial-gradient(circle at 60% 65%,var(--c) 64%,#0000 65%) top left/50% 50%, radial-gradient(circle at 40% 65%,var(--c) 64%,#0000 65%) top right/50% 50%, conic-gradient(from -45deg at 50% 85%,var(--c) 90deg,#0000 0) bottom/100% 50%;     background-repeat: no-repeat; 
        margin-top: -50px;
        font-size: 4vw; }
button:hover {color: #ff379b; }
.info, .orders, .about, .gallery {width: 100%; }
.custom, .query, .christine {font-size: 2.5vw; font-weight: 100; }
.icons {display: flex;
        flex-direction: row; 
        justify-content: space-evenly;
        font-size: 8vw; }
.icon1, .icon2 {margin-top: 3vh; }
.icons:hover {color: #ff379b; }
video {display: block;
       padding: 10px; 
       width:70vw;
      height: auto;}
.pics {width: 80%; 
       margin: 3vh auto; 
       display: grid; 
       grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
       grid-gap: 30px;}
.pics img {width:100%; 
           cursor: pointer; }
.pics img:hover {transform:scale(0.9) rotate(-8deg); 
                 border-radius:20px; 
                 box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2); } 
.full-img {width: 100%; 
           height: 100vh; 
           background: rgba(0,0,0,0.9); 
           position: fixed; 
           top: 0; 
           left: 0; 
           display: none; 
           align-items: center; 
           justify-content: center; 
           z-index: 100; }
.full-img img {width: 90%; 
               max-width: 500px; }
.full-img span[class="X"] {position: absolute; 
                           top: 5%; 
                           right: 5%; 
                           font-size: 35px; 
                           color: #fff; 
                           cursor: pointer; }
.full-img span[class="left"] {position: absolute; 
                              top: 45%; 
                              left: 5%; 
                              font-size: 55px; 
                              color: #fff; 
                              cursor: pointer; }
.full-img span[class="right"] {position: absolute; 
                               top: 45%; 
                               right: 5%; 
                               font-size: 55px; 
                               color: #fff; 
                               cursor: pointer; }
#fullImg {opacity: 1; 
          transition: opacity 0.2s ease-in-out; }
#fullImg.fade-out {opacity: 0; }
footer {text-align: center; 
        font-size: 3vw; 
        Padding: 35px; }

@media(width <= 600px) { .inputs {display:flex;
  flex-direction:column;}
  button{ margin-top: 3vh; width: 80vw; font-size: 8vw;}
  .radios{padding:10px; }
  .nav {font-size: 3vw;
        margin-left: -8px;
        margin-right: -7px;
        margin-top: 15px;} }
  

@media (width > 700px) {
  .nav {font-size: 3vh; 
  margin-top: 1.5vh;}
  .divisions {margin-top: -5vh;}
  h2 {font-size:3vw; }
  .owl2, .christine {font-size: 2vw;}
  .owl {font-size:3vw; }
  .browse {font-size: 2.5vw;}
  textPath {font-size: 6vh;}}
